.features {
  padding: 128px 0;
  background-color: $gray;

  &__subtitle {
    @extend %label-2;
    text-align: center;
  }

  &__title {
    @extend %h2;
    max-width: 630px;
    text-align: center;
    margin: 12px auto 47px auto;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}

@media (max-width: 1200px) {
  .features {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 720px) {
  .features {
    padding: 60px 0;

    &__title {
      font-size: 23px;
      line-height: 30px;
      max-width: 300px;
    }

    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 620px) {
  .features {
    padding: 60px 0;

    &__inner{
      grid-gap: 20px;
    }
  }
}
