.features {
  padding: 128px 0;
  background-color: $gray;

  &__subtitle {
    @extend %label-2;
    text-align: center;
  }

  &__title {
    @extend %h2;
    max-width: 630px;
    text-align: center;
    margin: 12px auto 47px auto;
  }
}

@media (max-width: 720px) {
  .features {
    padding: 60px 0;

    &__title {
      font-size: 23px;
      line-height: 30px;
      max-width: 300px;
    }
  }
}

@media (max-width: 620px) {
  .features {
    padding: 60px 0;
  }
}