body {
  @extend %body-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu{
  &__list{
    display: flex;
  }

  &__item:not(:first-child){
    margin-left: 32px;
  }

  &__link{
    @extend %body-2;
  }
}

.btn-light{
  display: inline-block;
  background-color: $yellow;
  @extend %label-2;
  padding: 16px 56px;
  border-radius: 40px;
  transition: all 0.4s;

  &:hover{
    background-color: #FDE4A6;
  }
}

.btn-dark{
  display: inline-block;
  background-color: $blue-dark;
  color: $white;
  @extend %label-2;
  padding: 16px 56px;
  border-radius: 40px;
  transition: all 0.4s;

  &:hover{
    background-color: #535460;
  }
}

.link{
  display: inline-block;
  width: fit-content;
  @extend %label-2;
  color: $white;
  padding-right: 40px;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 25px;
    height: 12px;
    background-image: url(../images/icons/arrow-right.svg);
  }
}











@media (max-width: 620px){
  .menu{
    padding: 0;

    &__list{
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item:not(:first-child){
      margin-left: 0;
    }

    &__item{
      margin: 0 20px;
    }
  }
}