//цвета
$blue: #2405f2;
$blue-dark: #282938;
$blue-tint: #1c1e53;
$gray: #f4f6fc;
$yellow: #fcd980;
$accent: #eef4fa;

//расширения шрифтов
%pop-400 {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
}
%pop-500 {
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 500;
}
%pop-600 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
}

//наследования

%check-none {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%display-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%h1 {
  @extend %pop-600;
  font-size: 54px;
  line-height: 74px;
  color: $blue-dark;
}
%h2 {
  @extend %pop-600;
  font-size: 48px;
  line-height: 64px;
  color: $blue-dark;
}
%h3 {
  @extend %pop-500;
  font-size: 38px;
  line-height: 56px;
  color: $blue-dark;
}
%h4 {
  @extend %pop-500;
  font-size: 36px;
  line-height: 56px;
  color: $blue-dark;
}
%h5 {
  @extend %pop-500;
  font-size: 32px;
  line-height: 48px;
  color: $blue-dark;
}
%h6 {
  @extend %pop-500;
  font-size: 24px;
  line-height: 36px;
  color: $blue-dark;
}
%body-2 {
  @extend %pop-500;
  font-size: 16px;
  line-height: 28px;
  color: $blue-dark;
}
%label-1 {
  @extend %pop-500;
  font-size: 16px;
  line-height: 28px;
  color: $blue-dark;
}
%label-2 {
  @extend %pop-500;
  font-size: 16px;
  line-height: 28px;
  color: $blue-dark;
}

%btn {
  width: 222px;
  height: 64px;
  padding: 16px 48px;
  cursor: pointer;
  border: none;
  border-radius: 48px;
  @extend %pop-500;
  font-size: 18px;
  line-height: 32px;
}
