.policy{
  margin: 128px 0;

  .container{
    max-width: 872px;
  }

  &__title{
    @extend %h2;
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle{
    max-width: 562px;
    @extend %body-2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}

@media (max-width: 1300px){
  .policy{
    margin: 60px 0;

    &__title{
      font-size: 30px;
      line-height: 40px;
    }
  }
}