.card{
  min-height: 316px;
  background-color: $white;
  padding: 58px 48px 48px 48px;

  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__img{
    display: inline-block;
  }

  &__icon{
    min-height: 34px;
  }

  &__title{
    @extend %h6;
    margin: 22px 0 12px 0;
  }
}


@media (max-width: 1300px){
  .card{
    padding: 30px;
    min-height: 250px;

    &__title{
      font-size: 18px;
      line-height: 23px;
    }

    &__text{
      font-size: 12px;
      line-height: 20px;
    }

    &__inner {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}

@media (max-width: 720px){
  .card{
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 620px){
  .card{
    min-height: 240px;
    padding: 20px;

    &__inner{
      grid-gap: 20px;
    }
  }
}

@media (max-width: 480px){
  .card{

    &__inner{
      grid-template-columns: 1fr;
    }
  }
}