.work-header {
  background-color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 92px);
  margin-bottom: 60px;

  &__inner {
    text-align: center;
  }

  &__subtitle {
    @extend %body-2;
    margin-bottom: 4px;
  }

  &__title {
    @extend %h2;
    margin-bottom: 24px;
  }

  &__text {
    @extend %body-2;
    max-width: 733px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__social {
    display: flex;
    justify-content: center;

    &-link {
      &:not(:first-child) {
        margin-left: 28px;
      }
    }
  }
}

.our-work {

  &__mix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;

    &-btn {
      border: none;
      background-color: transparent;
      @extend %label-1;
      cursor: pointer;
      color: $blue-dark;
      opacity: 0.7;
      transition: all 0.8s;

      &.mixitup-control-active {
        color: $blue;
        opacity: 1;
      }
    }

    &-btn:not(:first-child) {
      margin-left: 32px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 64px;
  }

  &__item {

    &-img {
      padding: 30px 40px;
      background: linear-gradient(131.34deg, #f4ede1 16.74%, #98b1c6 103.17%);
      margin-bottom: 24px;

      img {
        display: block;
        object-fit: cover;
      }
    }

    &:nth-child(3n) {
      .our-work__item-img {
        background: linear-gradient(131.34deg, #ffd3af 16.74%, #4f56ff 103.17%);
      }
    }

    &-title{
      @extend %h3;
      margin-bottom: 13px;
    }

    &-text{
      margin-bottom: 24px;
    }

    &-link{
      color: $blue-dark;

      &::after{
        background-image: url(../images/icons/arrow-right-dark.svg);
      }
    }
  }

  &__contact{
    text-align: center;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
      @extend %h2;
      margin-bottom: 20px;
      max-width: 730px;
    }

    &-text{
      @extend %body-2;
      max-width: 562px;
      margin-bottom: 50px;
    }
  }
}


@media (max-width: 1300px){

  .our-work__mix-btn{
    cursor: default;
  }

  .work-header{
    height: calc(100vh - 70px);
    margin-bottom: 0;

    &__title{
      font-size: 30px;
      line-height: 40px;
    }

    &__text{
      font-size: 15px;
    }
  }

  .our-work{
    padding: 60px 0;

    &__mix-btn:not(:first-child){
      margin-left: 10px;
    }

    &__item-title{
      font-size: 30px;
      line-height: 40px;
    }

    &__contact{
      margin-top: 60px;
      
      &-title{
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
}



@media (max-width: 620px){
  .our-work__items{
    grid-template-columns: 1fr;
  }
}