.pricing-plans {
  padding: 128px 0;
  text-align: center;

  &__title {
    @extend %h2;
    margin-bottom: 16px;
  }

  &__subtitle {
    @extend %body-2;
    max-width: 562px;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    row-gap: 32px;
  }

  &__item {
    background-image: url(../images/bg/pricing-bg.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 745px;
    padding: 64px 48px;
    text-align-last: left;
    border-radius: 12px;
    background-color: $gray;

    &-title {
      @extend %h3;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        @extend %body-1;
        color: $blue;
        margin-left: 8px;
      }
    }

    &-subtitle {
      @extend %h6;
      margin-bottom: 8px;
    }

    &-text {
      @extend %body-2;
      text-align: left;
      margin-bottom: auto;
      max-width: 310px;
      padding-bottom: 15px;
    }

    &-list {
      
    }

    &-li {
      position: relative;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-top: 20px;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 21px;
        margin-right: 12px;
        background-image: url(../images/icons/pointer-gray.svg);
      }

      &--active {
        &::before {
          background-image: url(../images/icons/pointer-green.svg);
        }
      }
    }

    &--active {
      background-color: $blue-tint;
      z-index: 1;

      .pricing-plans__item-title {
        color: $white;
        span {
          color: $yellow;
        }
      }

      .pricing-plans__item-subtitle,
      .pricing-plans__item-text,
      .pricing-plans__item-li {
        color: $white;
      }
    }

    &-link {
      align-self: center;
    }
  }
}

@media (max-width: 1300px) {
  .pricing-plans {
    padding: 60px 0;

    &__title{
      font-size: 30px;
      line-height: 43px;
    }

    &__subtitle{
      font-size: 12px;
      line-height: 24px;
    }

    &__item {
      min-height: 500px;
      padding: 30px 30px;

      &-list{
        margin-bottom: 40px;
      }

      &-title {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;

        span {
          font-size: 10px;
          line-height: 17px;
        }
      }

      &-subtitle {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
      }

      &-text {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      &-li {
        font-size: 10px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 979px) {
  .pricing-plans {

    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 620px) {
  .pricing-plans {
    padding: 60px 0;

    &__title{
      font-size: 30px;
      line-height: 40px;
    }
  }
}
