<section class="benefits">
  <div class="container">
    
    <h2 class="benefits__title">
      The benefits of working with us
    </h2>
    <div class="benefits__cards card__inner">
      <div class="card">
        <img class="card__icon" src="../images/icons/page-icon.svg" alt="icon">
        <h6 class="card__title">
          Customize with ease
        </h6>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
        </p>
      </div>
      <div class="card">
        <img class="card__icon" src="../images/icons/pen-icon.svg" alt="icon">
        <h6 class="card__title">
          Perfectly Responsive
        </h6>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
        </p>
      </div>
      <div class="card">
        <img class="card__icon" src="../images/icons/people-icon.svg" alt="icon">
        <h6 class="card__title">
          Friendly Support
        </h6>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
        </p>
      </div>
    </div>
    @include('../components/_partners.html')
  </div>
</section>








