<section class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-top__left">
          <a class="footer__logo" href="#">
            <img class="logo" src="../images/Logo.svg" alt="Logo">
          </a>
          <p class="footer-top__left-content">
            We are always open to discuss your project and improve your online presence.
          </p>
          <div class="footer-contacts">
            <div class="footer-contacts__mail">
              <p class="footer-contacts__mail-text">
                Email me at
              </p>
              <a class="footer-contacts__link" href="mailto:contact@website.com">contact@website.com</a>
            </div>
            <div class="footer-contacts__tel">
              <p class="footer-contacts__tel-text">
                Call us
              </p>
              <a class="footer-contacts__link" href="tel:0927 6277 28525">0927 6277 28525</a>
            </div>
          </div>
        </div>
        <div class="footer-top__right">
          <h2 class="footer-top__right-title">Lets Talk!</h2>
          <p class="footer-top__right-text">
            We are always open to discuss your project, improve your online presence and help with your UX/UI design
            challenges.
          </p>
          <ul class="footer__social">
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <img class="footer__social-img" src="../images/icons/social/Facebook.svg" alt="facebook">
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <img class="footer__social-img" src="../images/icons/social/Twitter.svg" alt="Twitter">
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <img class="footer__social-img" src="../images/icons/social/instagram.svg" alt="instagram">
              </a>
            </li>
            <li class="footer__social-item">
              <a class="footer__social-link" href="#">
                <img class="footer__social-img" src="../images/icons/social/LInkedIn.svg" alt="LInkedIn">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom">
      <a class="footer-bottom__copy" href="#">Copyright 2021, Finsweet.com</a>
      <menu class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">About us</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Features</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Pricing</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">FAQ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Blog</a>
          </li>
        </ul>
      </menu>
    </div>
  </div>
</section>