<section class="navbar">
  <div class="container">
    <div class="navbar__inner">
      <a href="#">
        <img class="logo navbar__logo" src="../images/Logo.svg" alt="Logo">
      </a>
      <menu class="navbar-menu ">
        <ul class="navbar-menu__list">
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="index.html">Home</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="aboutUs.html">About us</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="#">Features</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="#">Pricing</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="#">FAQ</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="#">Blog</a>
          </li>
          <li class="navbar-menu__item navbar-menu__item--contact">
            <a class="navbar-menu__link navbar-menu__link" href="#">Contact us</a>
          </li>
        </ul>
      </menu>
      <a class="navbar__link" href="#">Contact us</a>
      <button class="navbar__btn"><span></span></button>
    </div>
  </div>
</section>