<section class="navbar">
  <div class="container">
    <div class="navbar__inner">
      <a href="index.html">
        <img class="logo navbar__logo" src="images/Logo.svg" alt="Logo">
      </a>
      <menu class="navbar-menu ">
        <ul class="navbar-menu__list">
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="index.html">Home</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="aboutUs.html">About us</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="features.html">Features</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="pricing.html">Pricing</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="FAQ.html">FAQ</a>
          </li>
          <li class="navbar-menu__item">
            <a class="navbar-menu__link" href="blog.html">Blog</a>
          </li>
          <li class="navbar-menu__item navbar-menu__item--contact">
            <a class="navbar-menu__link navbar-menu__link" href="contactUs.html">Contact us</a>
          </li>
        </ul>
      </menu>
      <a class="navbar__link" href="contactUs.html">Contact us</a>
      <button class="navbar__btn"><span></span></button>
    </div>
  </div>
</section>