<div class="partners">
  <div class="partners__number">
    <h3 class="partners__number-title wow anim-left">
      100.000+
    </h3>
    <p class="partners__number-subtitle wow anim-left">
      Finsweet Users
    </p>
  </div>
  <img class="partners__logo wow anim-bottom" data-wow-delay="0.1s" src="images/icons/partners/Logo 1.svg" alt="partners logo">
  <img class="partners__logo wow anim-bottom" data-wow-delay="0.2s" src="images/icons/partners/Logo 2.svg" alt="partners logo">
  <img class="partners__logo wow anim-bottom" data-wow-delay="0.3s" src="images/icons/partners/Logo 3.svg" alt="partners logo">
  <img class="partners__logo wow anim-bottom" data-wow-delay="0.4s" src="images/icons/partners/Logo 4.svg" alt="partners logo">
  <img class="partners__logo wow anim-bottom" data-wow-delay="0.5s" src="images/icons/partners/Logo 5.svg" alt="partners logo">
</div>