<div class="partners">
  <div class="partners__number">
    <h3 class="partners__number-title">
      100.000+
    </h3>
    <p class="partners__number-subtitle">
      Finsweet Users
    </p>
  </div>
  <img class="partners__logo" src="../images/icons/partners/Logo 1.svg" alt="partners logo">
  <img class="partners__logo" src="../images/icons/partners/Logo 2.svg" alt="partners logo">
  <img class="partners__logo" src="../images/icons/partners/Logo 3.svg" alt="partners logo">
  <img class="partners__logo" src="../images/icons/partners/Logo 4.svg" alt="partners logo">
  <img class="partners__logo" src="../images/icons/partners/Logo 5.svg" alt="partners logo">
</div>