.aboutUs-info{
  padding: 128px 0;
  background-color: $accent;

  & .info-box:not(:first-child){
    margin-top: 94px;
  }
}

@media (max-width: 620px){
  .aboutUs-info{
    padding: 60px 0;

    & .info-box:not(:first-child){
      margin-top: 0;
    }
  }
}